body {
  background-color: #091c16;
  color: cyan;
}

h1 {
  text-align: center;
  width: 50%;
  font-size: 4rem;
  border-bottom: 5px solid cyan;
  margin: 10px;
}

.underline {
  height: 80px;
  width: 50%;
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 8px, currentcolor 8px, currentcolor 10px)
}

h2 {
    font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
  border-bottom: 1px dotted cyan;
  border-top: 1px dotted cyan;

}

.accordion__item {
  text-align: center;
  width: 50%;
  margin: 20px;
  border-radius: 10px;
  border: 3px solid cyan;
}

.accordion {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.accordion__button:hover {
  cursor: pointer;
}

.accordion__item:hover {
  opacity: 0.5;
}

.animate__animated.animate__fadeIn {
  --animate-duration: 3s;
}

@media screen and (max-width: 685px) {
  h1 {
    width: 100%;
  }

  .underline {
    width: 100%;
  }

  .accordion__item {
    width: 100%;
  }
}

@media screen and (max-width: 685px) {
  h2 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1rem;
  }

}
